@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");
.about-tools ul li, .contact-social-icons ul a li {
  text-align: center; }


 @font-face {
  font-family: myfont;
  src: url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento);
}



.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
 }

.olp{
 padding-top:100px; 
}

.olpcont{

padding-top: 50px;
}

@media (min-width: 768px) {
  .pull-right-sm {
    float: right !important; }

  .pull-left-sm {
    float: left !important; } }
@media (min-width: 992px) {
  .pull-right-md {
    float: right !important; }

  .pull-left-md {
    float: left !important; } }
@media (min-width: 1200px) {
  .pull-right-lg {
    float: right !important; }

  .pull-left-lg {
    float: left !important; } }
* {
  box-sizing: border-box; }

html {
  position: relative;
  height: 100%; }

img {
  width: 100%; }

body {
  height: 100%;
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 10px;
  background-color:    #000000;
   }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  color: #62093B; }

p {
  font-family: "Quattrocento", sans-serif;
  color: #f0f0e6;
   }

.container-fluid {
  background-image: url(https://wallpapercave.com/wp/wp6451491.jpg);
  padding: 60px 15px 0px;
  height: 950px;
 }



.btn:focus, a:focus {
  outline: none !important; }

.navbar {
  height: 70px;
  background-color: transparent;
  background: transparent;
  border: none;
  color: #f0f0e6;
  z-index: 100;
  margin-bottom: 0;
  border-radius: 0;
  transition: background-color 1s ease 0s; 
  
  }

.navbar-brand {
  display: none;
  margin-top: 10px;
  color: #f0f0e6;
  font-weight: 400;
   }

.navbar-default .navbar-nav > li > a {
  color: #f0f0e6;
  font-weight: 500;
  font-size: 1em;
  text-transform: lowercase;
  margin: 10px 5px 5px 5px;
  border-radius: 5px; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #f0f0e6;
  border: 1px solid #f0f0e6; }
.navbar-default .navbar-nav > li > a:visited {
  color: #f0f0e6;
  text-decoration: none; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #f0f0e6; }
.navbar-default .navbar-toggle {
  border-color: #f0f0e6; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #07374a; }
  .navbar-default .navbar-toggle .icon-bar {
    color: #f0f0e6;
    background-color: #f0f0e6; }
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: #07374a; }

/* Solid class attached on scroll past first section */


.headline {
  padding-top: 6.25em; }
  @media screen and (min-width: 768px) {
    .headline {
      padding-top: 3.75em; } }
  @media screen and (min-width: 992px) {
    .headline {
      padding-top: 1.5625em; } }
  @media screen and (min-width: 1200px) {
    .headline {
      padding-top: 0px; } }

#about {
  background-image: url(https://wallpaperplay.com/walls/full/9/b/7/121403.jpg);
   height: 800px;


   }
  #about h2 {
    font-size: 60px;
    color: #62093B;
    font-weight: 900;
    -webkit-text-stroke: 1px white; }

.profile-img {
  margin-bottom: 15px;
  width: 120px;
 }

.about, .about-info {
  padding: 4% 10% 1% 10%;
  font-size: 1.5em;
   }

.clearfix {
  overflow: auto;
}

#myGlower {
    background-color: #ccc;
    border: 1px solid transparent;    
    -webkit-transition: border 0.1s linear, box-shadow 0.1s linear;
       -moz-transition: border 1s linear, box-shadow 1s linear;
            transition: border 2s linear, box-shadow 1s linear;
}

#myGlower.active {
    border-color: blue;
    -webkit-box-shadow: 0 0 5px blue;
       -moz-box-shadow: 0 0 5px blue;
            box-shadow: 0 0 15px green;
}


.crop{
  width:200px;
  height:200px;
  object-fit:cover;
  border-radius:50%;}


#portfolio {background-color: #2d545e;
  height: 800px;
  background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/06/Black-dark-Minimal-wallpapers-HD.jpg);
  }
  #portfolio h2 {
    font-size: 60px;
    font-weight: 900;
    -webkit-text-stroke: 1px white; }


.txtcnt{
  color:black;
  font-size: 20px;
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;

}

.proj{
  font-size: 30px;
  color: white;

}

#mydiv {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {text-shadow: 10px 20px 30px blue;}
}

#contact {
  
  height: 350px;
  background-color: #000000; 
}
  #contact h2 {
    font-weight: 900;
    color: #660033; 
    font-size: 60px;
     -webkit-text-stroke: 1px white;
  }

.contact-social-icons p {
  font-size: 20px;
  color: #25b79f; }
.contact-social-icons ul a {
  color: #25b79f;
  list-style: none; }
  .contact-social-icons ul a:hover {
    color: #f0f0e6; }
  .contact-social-icons ul a li {
    display: inline-block;
    padding: 2%; }

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 0px;
  background-color: #2d545e;
  color: #f0f0e6; }

#scrollIcon, #scrollTopIcon {
  margin-top: 200px;
  padding: 10px;
  font-size: 1.5em;
  color: #07374a;
  border: solid 2px #07374a;
  border-radius: 50%; }

#scrollTopIcon {
  margin-top: 10px;
  font-size: 1em;
  color: #f0f0e6;
  border-color: #f0f0e6; }

.back-to-top {
  display: none; }
  .back-to-top.visible {
    display: block; }



.parallax {
  /* The image used */
  

  /* Set a specific height */
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.mindet{
  font-size: 20px;
}

.skl{
  padding-left: 90px;
  font-size: 30px;
}
